name: qeep-going

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
    tags:
      - "*"

env:
  GO_VERSION: ${{ '1.24' }}
  SCRIPTS_ROOT: ./scripts

jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      # ----- Preparation -----
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Setup Sources
        uses: actions/checkout@v6

      # ----- Integration -----
      - name: Build
        run: bash $SCRIPTS_ROOT/gobuild.sh

      - name: Format
        run: bash $SCRIPTS_ROOT/gofmt.sh

      - name: Lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.1

      - name: Test
        run: bash $SCRIPTS_ROOT/gotest.sh

      - name: Security
        uses: securego/gosec@master
        with:
          args: ./...
